.text {
    font-family: "Rubik", sans-serif;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 0.6875rem;
}

.text2 {
    color: #A39DA9;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.available {
    color: #D99EFF;
    font-family: "Rubik", sans-serif;
    font-size: 0.5rem;
    font-weight: 400;
}

.price {
    color: #FFF;
    font-family: "Rubik", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.6875rem;
}

.placeholder {
    color: #C5C9CC;
    font-family: "Rubik", sans-serif;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: -0.07px;
}

.purple {
    color: #9341C8;
}

.purple_dark {
    color: #6E5D7E;
}

.white {
    color: #FFF;
}

