.name {
    font-family: "Rubik", sans-serif;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title {
    color: #3E2753;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}